<% content_for(:title, 'Accueil / Tableaux à vendre')%>
<div class="container">
  <h1 class="margin-y">Peintures à vendre</h1>
  <div class="main-grid">
    <% @paintings.each do |painting| %>
      <%= link_to painting_path(painting) do %>
        <div class="product-card">
          <div class="product-card-img" style='background-image: url(<%= cl_image_path painting.photo.key %>)'></div>
          <div class="product-card-infos">
            <div class="product-card-title"><%= painting.title %></div>
            <div class="product-card-description"><%= painting.description %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if policy(Painting).create? %>
    <div class="btn-group">
      <%= link_to "Rajouter un joli tableau", new_painting_path, class: 'btn-success' %>
    </div>
  <% end %>
</div>
