<% content_for(:title, "La galerie")%>
<div class="container">
  <div class="galerie-grid">
    <% @paintings.each do |painting| %>
        <div class="painting-card"
             style='background-image: url(<%= cl_image_path painting.photo.key %>)'
             data-controller="painting-zoom">
          <div class="painting-card-zoom" data-action="click->painting-zoom#modalAppear">zoom +</div>
          <% if painting.sell %>
            <%= link_to "A VENDRE", painting_path(painting), class: 'painting-card-sell' %>
          <% end %>
          <% if current_user && current_user.admin? %>
            <%= link_to "Modifier", edit_painting_path(painting), class: 'painting-card-edit' %>
            <%= link_to "Supprimer", painting_path(painting), data: { turbo_method: :delete, turbo_confirm: "C'est votre dernier mot?" }, class: 'painting-card-delete' %>
          <% end %>
          <div class="modal disapear" data-painting-zoom-target='modal'>
            <div class="modal-content">
              <%= cl_image_tag painting.photo.key, class:'painting-zoom' %>
              <span class="close" data-action="click->painting-zoom#modalClose">+</span>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <% if policy(Painting).create? %>
    <div class="btn-group">
      <%= link_to "Rajouter un joli tableau", new_painting_path, class: 'btn-success' %>
    </div>
  <% end %>
</div>
