<% content_for(:title, @painting.title)%>
<% content_for :meta_description, @painting.description %>
<% content_for :meta_image, cl_image_path(@painting.photo.key) %>
<div class="container">
  <div class='breadcrumbs'><%= render_breadcrumbs :separator => ' > ' %></div>
  <div class="peinture-detail-img">
    <%= cl_image_tag @painting.photo.key %>
  </div>
  <div class="peinture-detail-legend">
    <div class="peinture-detail-infos">
      <h2><%= @painting.title %></h2>
      <div>Prix: <%= humanized_money(@painting.price) %> €</div>
    </div>
    <%= link_to 'ACHETER', new_painting_order_path(@painting), class: 'btn-principal' %>
  </div>
  <% if policy(Painting).create? %>
    <div class="btn-group">
      <%= link_to "Modifier le tableau", edit_painting_path(@painting), class: 'btn-notice' %>
      <%= link_to "Supprimer le tableau", painting_path(@painting), data: { turbo_method: :delete, turbo_confirm: "C'est votre dernier mot?" }, class: 'btn-warning' %>
    </div>
  <% end %>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "<%= @painting.title %>",
    "offers": {
      "@type": "Offer",
      "price": "<%= @painting.price %>",
      "priceCurrency": "EUR"
    }
  }
</script>
