<div class="container">
  <div class="user-infos">
    <div class="user-infos-container">
      <div class="user-img">
        <%= cl_image_tag @user.photo.key, class: 'avatar-lg', crop: :fill %>
        <%= link_to edit_user_path(@user) do %>
          <div class='avatar-plus'>+</div>
        <% end %>
      </div>
      <h1>
        <%= @user.first_name %> <%= @user.last_name %>
        <% if @user.admin %>
          <span>(admin)</span>
        <% end %>
      </h1>
    </div>
  </div>
  <div class="user-cards">
    <div class="user-cards-infos">
      <div class="user-infos-title">Mes informations</div>
      <ul class="user-infos-edit-list">
        <li><span class="pen-brush">Email:</span> <%= @user.email %></li>
        <li>
          Adresse (pour livraison):
          <% if @user.address %>
            <%= @user.address %>
          <% else %>
            <span class='sm-italic'>vous n'avez pas encore renseigné d'adresse</span>
          <% end %>
        </li>
        <li>Mot de passe: ********</li>
        <li>Membre depuis: <%= @user.created_at %></li>
      </ul>
    </div>
    <%= link_to user_orders_path(@user) do %>
      <div class="user-cards-infos">
        <div class="user-infos-title">Mes commandes</div>
        <ul class="user-orders-list">
          <% @user.orders.each do |order| %>
            <li><%= order.painting.title %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="user-card-infos user-admin">
      <div class="user-infos-title">Tableau de bord</div>
      <ul class="user-admin-actions">
        <li><%= link_to 'Ajouter un tableau', new_painting_path %></li>
        <li><%= link_to 'Modifier un tableau', new_painting_path %></li>
        <li><%= link_to 'Supprimer un tableau', new_painting_path %></li>
      </ul>
    </div>
  </div>
</div>
