<div class="container">
  <div class="user-infos">
    <%= image_tag 'user.png', class: 'avatar-lg' %>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <% if @user.admin %>
      <div>(admin)</div>
    <% end %>
  </div>
  <div class="user-cards">
    <div class="user-infos-edit">
      <div class="user-infos-edit-title">Mes informations</div>
      <ul class="user-infos-edit-list">
        <li>Email: <%= @user.email %></li>
        <li>Adresse (pour livraison): <%= @user.address ? @user.address : "vous n'avez pas encore renseigné d'adresse" %></li>
        <li>Mot de passe: ********</li>
        <li>Membre depuis: <%= @user.created_at %></li>
      </ul>
    </div>
    <%= link_to user_orders_path(@user) do %>
      <div class="user-orders">
        <div class="user-orders-title">Mes commandes</div>
        <div>Dernière commande en date:</div>
      </div>
    <% end %>
    <div class="user-admin">
      Tableau de bord
    </div>
  </div>
</div>
