<% content_for(:title, "Compte de #{@user.first_name}")%>
<div class="container">
  <div class="user-infos">
    <div class="user-infos-container">
      <div class="user-img">
        <%= cl_image_tag @user.photo.key, class: 'avatar-lg', crop: :fill %>
        <%= link_to edit_user_path(@user) do %>
          <div class='avatar-plus'>+</div>
        <% end %>
      </div>
      <h1>
        <%= @user.first_name %> <%= @user.last_name %>
        <% if @user.admin %>
          <span>(admin)</span>
        <% end %>
      </h1>
    </div>
  </div>
  <div class="user-cards">
    <%= link_to edit_user_registration_path(@user) do %>
      <div class="user-cards-infos">
        <div class="user-infos-title">Mes informations</div>
        <ul class="user-infos-edit-list">
          <li><span class="pen-brush">Email:</span> <%= @user.email %></li>
          <li>
            Adresse (pour livraison):<br>
            <% if @user.address %>
              <%= @user.address %>
            <% else %>
              <span class='sm-italic'>vous n'avez pas encore renseigné d'adresse</span>
            <% end %>
          </li>
          <li>Mot de passe: ********</li>
          <li>Membre depuis le <%= l @user.created_at, format: "%e %b %Y", locale: 'fr' %></li>
        </ul>
        <div class='sm-italic user-infos-modif'>modifier</div>
      </div>
    <% end %>
    <%= link_to user_orders_path(@user) do %>
      <div class="user-cards-infos">
        <div class="user-infos-title">Mes commandes</div>
        <div class="user-infos-content">
          <ul class="user-orders-list">
            <% @user.orders.each do |order| %>
              <li><%= order.painting.title %></li>
            <% end %>
          </ul>
        </div>
        <div class='sm-italic user-infos-modif'>détails</div>
      </div>
    <% end %>
    <% if @user.admin %>
      <div class="user-card-infos user-admin" data-controller="admin-modal">
        <div class="user-infos-title">Tableau de bord</div>
        <ul class="user-admin-actions">
          <li><%= link_to 'Liste des commandes', user_orders_path(@user) %></li>
          <li><%= link_to 'Ajouter un tableau', new_painting_path %></li>
          <li data-action="click->admin-modal#editModalAppear">Modifier un tableau</li>
          <li data-action="click->admin-modal#deleteModalAppear">Supprimer un tableau</li>
        </ul>
        <div class="modal disapear" data-admin-modal-target='editModal'>
          <div class="modal-content admin-action">
            <h2>Quel tableau souhaitez-vous modifier ?</h2>
            <ul class="paintings-list">
              <% @paintings.each do |painting| %>
                <li class="paintings-list-item">
                  <%= link_to edit_painting_path do %>
                    <%= cl_image_tag painting.photo.key, class:'painting-pic-xs' %>
                    <%= painting.title %>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <span class="close" data-action="click->admin-modal#modalClose">+</span>
          </div>
        </div>
        <div class="modal disapear" data-admin-modal-target='deleteModal'>
          <div class="modal-content admin-action">
            <h2>Quel tableau souhaitez-vous modifier ?</h2>
            <ul class="paintings-list">
              <% @paintings.each do |painting| %>
                <li class="paintings-list-item">
                  <%= link_to(painting_path(painting), data: { turbo_method: :delete, turbo_confirm: "C'est votre dernier mot?" }) do %>
                    <%= cl_image_tag painting.photo.key, class:'painting-pic-xs' %>
                    <%= painting.title %>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <span class="close" data-action="click->admin-modal#modalClose">+</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
