<div class="navbar" data-controller="change-navbar-background" data-action="scroll@window->change-navbar-background#modifyNavbar">
  <div class="navbar-principal" data-change-navbar-background-target="principal">
    <div class="container">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag 'black_signature.png' %>
        <% end %>
      </div>
      <ul class="nav-items">
        <li class="nav-item">
          <%= link_to "Accueil", available_paintings_path %>
        </li>
        <li class="nav-item">
          <%= link_to "L'artiste", artiste_pages_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'La galerie', paintings_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', contact_pages_path %>
        </li>
        <% if current_user %>
          <li class="nav-item" data-controller="user-dropdown" data-action='click->user-dropdown#toggleDropdown' data-user-dropdown-target='navbarItem' data-change-navbar-background-target='navbarItem'>
            Mon compte
            <ul class="main-user-dropdown disapear" data-user-dropdown-target='dropdownList' data-change-navbar-background-target='mainDropdownList'>
              <li class="main-user-dropdown-item">
                <%= link_to 'Mon compte', user_path(current_user) %>
              </li>
              <li class="main-user-dropdown-item">
                <%= link_to 'Mes commandes', user_orders_path(current_user) %>
              </li>
              <li class="main-user-dropdown-item">
                <%= button_to 'Déconnexion', destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Connexion', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="navbar-secondary disapear" data-change-navbar-background-target="secondary">
    <div class="container">
      <div class="logo" data-change-navbar-background-target="shortLogo">
        <%= link_to available_paintings_path do %>
          <%= image_tag 'short_signature.png' %>
        <% end %>
      </div>
      <ul class="nav-items" data-change-navbar-background-target="shortItems">
        <li class="nav-item">
          <%= link_to "L'artiste", artiste_pages_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'La galerie', paintings_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', contact_pages_path %>
        </li>
        <% if current_user %>
          <li class="nav-item" data-controller="user-dropdown">
            <%= image_tag 'user.png', class:"avatar", data: { action: 'click->user-dropdown#toggleDropdown' } %>
            <ul class="user-dropdown disapear" data-user-dropdown-target='dropdownList' data-change-navbar-background-target='secondDropdownList'>
              <li class="user-dropdown-item">
                <%= link_to 'Mon compte', user_path(current_user) %>
              </li>
              <li class="user-dropdown-item">
                <%= link_to 'Mes commandes', user_orders_path(current_user) %>
              </li>
              <li class="user-dropdown-item">
                <%= button_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'disconnect' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Connexion', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
