<% content_for(:title, "Détails de la commande de #{@painting.title}")%>
<div class="container">
  <div class="peinture-detail-img">
    <%= cl_image_tag @painting.photo.key %>
  </div>
  <div class="peinture-detail-legend">
    <div class="peinture-detail-infos">
      <h2><%= @painting.title %></h2>
      <div>Prix: <%= humanized_money(@painting.price) %> €</div>
      <div>Commandé le <%= l @order.created_at, format: "%e %b %Y", locale: 'fr' %></div>
      <p>Commandé par :</p>
      <ul>
        <li>Client : <%= @user.complete_name %></li>
        <li>Mail : <%= @user.email %></li>
        <li>Adresse postale : <%= @user.address %></li>
      </ul>
    </div>
  </div>
</div>
