<% content_for(:title, "Commande de #{@painting.title}")%>
<div class="container">
  <%= simple_form_for [@painting, @order], data: { turbo: false } do |f| %>
    <div class="recap-parts">
      <div class="recap-part-left">
        <div>
          <h1>Récapitulatif de la commande</h1>
          <p><strong>Tableau:</strong> <%= @painting.title %></p>
        </div>
        <div class='recap-form'>
          <h2>Adresse de livraison:</h2>
          <%= simple_fields_for :user do |f_user| %>
            <%= f_user.input :address,
                        label: false,
                        input_html: {
                          class: 'disapear',
                          data: {address_autocomplete_target: "address"}
                        },
                        wrapper_html: {
                          class: 'form-group',
                          data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"], address_autocomplete_address_value: current_user.address}
                        }
            %>
            <div class="form-actions">
              <%= f.submit 'Enregistrer' %>
            </div>
          <% end %>
        </div>
        <div class='recap-form' data-controller="billing-address-appear">
          <h2>Adresse de facturation:</h2>
          <p>L'adresse de facturation est la même que celle de livraison ?</p>
          <label>Oui
            <input type="radio"
                  name="radio"
                  checked="checked"
                  data-billing-address-appear-target='yes'
                  data-action="click->billing-address-appear#addressChoice"/>
          </label>
          <label>Non
            <input type="radio"
                  name="radio"
                  data-billing-address-appear-target='no'
                  data-action="click->billing-address-appear#addressChoice"/>
          </label>
          <div class='disapear' data-billing-address-appear-target='addressForm'>
          <%= f.input :address,
                      label: false,
                      input_html: {
                        class: 'disapear',
                        data: {address_autocomplete_target: "address" }
                      },
                      wrapper_html: {
                        class: 'form-group',
                        data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}
                      }
          %>
          </div>
        </div>
      </div>
      <div class="recap-part-right">
        <div class="recap-card">
          <%= cl_image_tag @painting.photo.key %>
          <div class="recap-card-price">
            <div>
              <p class="margin-bottom-none"><strong>Prix total (TTC):</strong></p>
              <div class="sm-italic">(frais de livraison compris)</div>
            </div>
            <p><%= @painting.price %> €</p>
          </div>
            <%= f.submit 'Payer', class: 'btn-principal no-border' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
