<% content_for(:title, "Page de contact")%>
<div class="container">
  <div class="contact-form">
    <div class='contact-form-infos'>
      <h2>N'hésitez pas à entrer en contact avec nous</h2>
      <p>
        Pour en savoir plus sur notre service ou pour poser n'importe quelle question,
        veuillez remplir le formulaire ci-dessous
      </p>
    </div>

    <%= simple_form_for @message, data: {turbo: false} do |f| %>
      <div class="form-inputs">
        <div class="form-group">
          <%= f.input :name,
                          label: 'Votre nom',
                          input_html: { class: 'form-name-input' },
                          autofocus: true %>
          </div>
        <div class="form-group">
          <%= f.input :email,
                          label: 'Votre email',
                          input_html: { class: 'form-name-input' } %>
          </div>
        <div class="form-group-text">
          <%= f.input :body,
                          label: 'Votre message',
                          as: :text,
                          input_html: { class: 'form-name-input-text' } %>
          </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'Envoyer', class: 'btn-principal' %>
      </div>
    <% end %>
  </div>
</div>
