<h1>Bonjour <%= @user.first_name %> <%= @user.last_name %></h1>

<p>
  Félicitations, vous serez bientôt en possession du tableau qui vous fait voyager.
</p>
<p>
  Veuillez trouver ci-dessous votre reçu. Vous pourrez retrouver la transaction dans votre relevé bancaire sous le libellé 'WWW.CLIET-TABLEAUX.COM'
</p>
<table class='table'>
  <tr>
    <th>Nom du produit</th>
    <th>Quantité</th>
    <th>Montant</th>
  </tr>
  <tr>
    <td><%= @order.painting.title %></td>
    <td>1</td>
    <td><%= @order.painting.price %> €</td>
  </tr>
  <tr>
    <td>Total</td>
    <td></td>
    <td><%= @order.amount %> €</td>
  </tr>
</table>
<p>
  Merci pour votre achat.
</p>
<p>
  Vous pouvez désormais retourner à votre compte CLIET <%= link_to 'ICI', user_url(@user) %>
</p>
